<div class="tabs">
  <ul>
    <li><a href="#tabs-2">Message de maintenance</a></li>
  </ul>

  <div id="tabs-2">
    <%= form_tag mass_mailing_path do %>

      <%= tinymce %>

      <div class="input string optional user_initials">
        <label class="string control-label" for="objet">Objet</label>
        <input class="string input-xxlarge" id="objet" name="objet" size="50" type="text">
      </div>

      <div class="input string optional user_initials">
        <label class="string optional control-label" for="message">Message de maintenance</label>
        <%= text_area_tag "message", "", class: "tinymce optional", rows: "20" %>
      </div>

      <%= submit_tag "Envoyer à tous les utilisateurs de la base" %>
    <% end %>
  </div>
</div>