<div class="tabs">

  <ul>
    <li>
      <a href="#tabs-view-widgets-parameters">
        <%= I18n.t(:views_widgets_parameters) %>
      </a>
    </li>
  </ul>

  <!-- Parametres d'affichage de la vue -->
  <div id="tabs-view-widgets-parameters">
    <%= render partial: "module_projects/views_and_widgets", object: @module_project %>
  </div>

</div>

