.bundle
.project
.rvmrc
/Gemfile.lock
/db/*.sqlite3
/log/*.log
/log/*.pid
/tmp/
/.idea/
/config/database.yml
/config/sensitive_settings.yml
/config/initializers/master_data.rb
/db/schema.rb
projestimate.iws
Gemfile.local
/coverage
/solr/*
# Gemnasium gem configuration file
config/gemnasium.yml
/config/license_finder.yml
config/license_finder.yml

#added by me
.coveralls_SAVE.rb
.sass-cache/
/app/controllers/confirmation_controller_SAVE.rb
/config/license_finder.yml
doc/
/public/dependencies_SAVE.html