.bundle
.project
.rvmrc
/db/*.sqlite3
/log/*.log
/log/*.pid
/tmp/
/.idea/
/db/schema.rb
projestimate.iws
Gemfile.local
Gemfile.lock
/coverage
/solr/*
# Gemnasium gem configuration file
config/gemnasium.yml
/config/license_finder.yml
config/license_finder_SAVE.yml
/config/database.yml
/config/sensitive_settings.yml