
<a href="<%= results_with_activities_by_profile_path(:module_project_id => current_module_project.id) %>" class="btn btn-primary btn-mini" title="<%= I18n.t(:tooltip_results_with_profiles) %>" data-remote="true" id="display_results_by_profile">
  <%= I18n.t :display_results_with_profiles %>
</a><br /><br />

<!-- Display the estimation results with profiles -->
<div id="div_show_results_with_profiles">
</div>
