<div class="row-fluid">
  <div class="widget-box collapsible">
    <div class="widget-title">
      <a href="#estimation_graph_box" data-toggle="collapse">
          <span class="icon">
            <i class="icon-bar-chart"></i>
          </span>
      </a>

      <div class="header_data">
        <h5><%= "Estimation graph" %> - <%= "#{current_module_project}" %></h5>
      </div>

      <div class="buttons">
        <%= select_tag 'pbs_list', options_for_select(current_project.root_component.subtree.map { |i| [i.name, i.id] }, :selected => current_component.id), :class => 'pull-right', :prompt => 'Product Quick Access' %>
      </div>
    </div>

    <div class="collapse in" id="collapseIn">
      <div class="widget-content tab-content">
        <div class="" id="estimation_graph_box">

          <!-- Canvas div the Cocomo-Advanced inputs factors -->
          <div class="span4">
            <canvas id="canvas_radar" width="400" height="400">
            </canvas>
          </div>
          <!-- Create Div dynamically for each output attribute -->
          <%# @current_mp_outputs_attributes_aliases.each do |attr_alias| %>
              <!--<div class="span4">-->
                <!--<canvas id='<%#="#{attr_alias}"%>' width="400" height="300">-->
                <!--</canvas>-->
              <!--</div>-->
          <%# end %>
          <%= render :partial => "projects/estimation_graph", :locals => { :module_project => current_module_project, :project_modules => @project_modules } %>
        </div>
      </div>
    </div>
  </div>
</div>

