<div class="component_tree" id="project_wbs_product_section">

  <div class="overflow">
    <%= I18n.t(:wbs_product) %>
    <% unless @project.nil? || @project.pe_wbs_projects.products_wbs.first.nil? %>
      <%=raw generate_wbs_product(@project.pe_wbs_projects.products_wbs.first.pbs_project_elements.last.root, @project, '', 5) %>
    <% end %>
  </div>

  <script>
    $(document).ready(function() {
      $(function () {
        $('#pbs_wbs a:first').tab('show');
      })
      $('#pbs_wbs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })
    });
  </script>

</div>