<div class="row-fluid">
  <div class="widget-box collapsible">
    <div class="widget-title">
      <a href="#estimation_graph_box" data-toggle="collapse">
        <span class="icon">
          <i class="icon-align-left"></i>
        </span>
      </a>

      <div class="header_data">
        <h5>
          <%= current_component %> - <%= "#{current_module_project}" %> settings
        </h5>
      </div>
    </div>

    <div class="collapse in" id="collapseIn">
      <div class="widget-content tab-content">
        <div class="" id="estimation_graph_box">
          <% if current_module_project.pemodule.alias == "uow" %>
            <%= render partial: "uow/inputs/settings" %>
          <% else %>
            <%= render partial: "cocomo_expert/input_cocomo/settings" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>