<h4 class="ui-widget">
  <%= I18n.t(:edit_project, :value => "#{@project.title} (version:#{@project.version})") %>

  <% unless controller.action_name == 'new' %>
    <%= link_to I18n.t(:label_activate_project), dashboard_path(@project), class: "pull-right" %>
  <% end %>
</h4>
<div>
  <%= render 'form' %>
</div>
