<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Copie de l'organisation</h3>
</div>

<div class="modal-body">

  <div id="display_animation_ajax_loader">
    <p>Veuillez patienter, la copie de l'organisation est en cours.</p>
  </div>

</div>