<%= form_tag '/set_technology_size_unit_abacus', :method => 'POST', :class => 'simple_form' do %>

  <%= hidden_field_tag "organization", params[:id] %>

  <div id="value_section">
    <%= render 'organizations/size_unit_abacus_table_values' %>
  </div>

  <% if can? :manage_modules_instances, ModuleProject %>
    <%= submit_tag I18n.t('apply'), :class => 'btn' %>
  <% end %>

<% end %>

