<div class="container-fluid text-center">
  <div class="row-fluid">
    <div class="span12">
      <strong>
        Une erreur est survenue au sein de l'application. Ne paniquez pas, un administrateur Estimancy a bien été averti.
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= link_to "Revenir sur la précédente", :back %>
    </div>
  </div>
</div>
