<div id="spktargetdiv" class="pull-right"></div>
<script>
    $(document).ready(function() {
        //REAL CODE:
        var multiWidget = new SpkMultiWidget(<%= SETTINGS['SPARKOM_SUPPORT_ID'] %>);
        multiWidget.onWidgets(onWidgets);
        multiWidget.onError(onSpkError);
        multiWidget.start();
    });
</script>

