<div id="spktargetdiv" class="pull-right"></div>
<script>
    $(document).ready(function() {
        var multiWidget = new SpkMultiWidget(29508);
        multiWidget.onWidgets(onWidgets);
        multiWidget.onError(onSpkError);
        multiWidget.start();
    });
</script>

