<div id="spktargetdiv">
  <div class="dropdown clearfix open">
    <button style="width:200px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Support Estimancy
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="width:200px;" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a style="color:#206A7C;" role="menuitem" tabindex="-1" href="javascript:window.open('http://www.spark-angels.com/panserver3/wchat/sparkom/wchat.html?wid=9113', 'chat', 'scrollbars=no,location=no,width=700,height=450,location=no,menubar=no,status=no,toolbar=no');">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:red;"></span>
            Widget-13
          </a>
        </li>
        <li class="dropdown-submenu">
          <a role="menuitem" class="dropdown-toggle" style="text-align:right;font-size:80%;color:#6396A3;" tabindex="-1" href="#">
            Voir les conseillers
            <span class="glyphicon glyphicon-chevron-right" style="color:#6396A3;" aria-hidden="true"></span>
          </a>
        </li>
        <li role="presentation">
          <a style="color:#206A7C;" role="menuitem" tabindex="-1" href="javascript:window.open('http://www.spark-angels.com/panserver3/wchat/sparkom/wchat.html?wid=9114', 'chat', 'scrollbars=no,location=no,width=700,height=450,location=no,menubar=no,status=no,toolbar=no');">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:red;"></span>
            Widget-14
          </a>
        </li>
        <li class="dropdown-submenu">
          <a role="menuitem" class="dropdown-toggle" style="text-align:right;font-size:80%;color:#6396A3;" tabindex="-1" href="#">
            Voir les conseillers
            <span class="glyphicon glyphicon-chevron-right" style="color:#6396A3;" aria-hidden="true"></span>
          </a>
        </li>
        <li role="presentation">
          <a style="color:#206A7C;" role="menuitem" tabindex="-1" href="javascript:window.open('http://www.spark-angels.com/panserver3/wchat/sparkom/wchat.html?wid=9107', 'chat', 'scrollbars=no,location=no,width=700,height=450,location=no,menubar=no,status=no,toolbar=no');">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:red;"></span>
            phm2@sparkom.com
          </a>
        </li>
        <li class="dropdown-submenu">
          <a role="menuitem" class="dropdown-toggle" style="text-align:right;font-size:80%;color:#6396A3;" tabindex="-1" href="#">
            Voir les conseillers
            <span class="glyphicon glyphicon-chevron-right" style="color:#6396A3;" aria-hidden="true"></span>
          </a>
        </li>
    </ul>
  </div>
</div>
<div id="errordiv" style="color:red;font-weight:bold;"></div>

