<div id="spktargetdiv"></div>
<script>
    $(document).ready(function() {
        //REAL CODE:
        var multiWidget = new SpkMultiWidget(29508);
        multiWidget.onWidgets(onWidgets);
        multiWidget.onError(onSpkError);
        multiWidget.start();

    });
</script>

